<button class="button-add" (click)="openDialogState()">
    Nuevo estado
</button>
<div cdkDropListGroup>
    <div class="horizontal-scroll">
        <div class="container " *ngFor="let state of panel?.states; let i = index">
            <div class="text-center">
                <span><h3>{{state?.name}}</h3></span>
                <div class="div-options">
                    <button class="button-transparent pointer" (click)="deleteState(state, i)">
                        <img src="assets/img/delete-icon.png">
                    </button>
                    <button class="button-add" (click)="openDialogTask(i)">Nueva tarea</button>
                </div>
            </div>
            <div cdkDropList [cdkDropListData]="state.tasks " class="list" (cdkDropListDropped)="drop($event, state.id) ">
                <div class="box margin-top" *ngFor="let item of state.tasks " cdkDrag>

                    <div class="grid-100 text-center width-webkit-fill-available">
                        <h4>{{item.title}}</h4>
                        <div>
                            <input type="date" id="start" name="trip-start" value="{{getTimeByTimeStamp(item.expirationDate)[0]}}">
                            <input type="time" value="{{getTimeByTimeStamp(item.expirationDate)[1]}}">
                            <button>Quitar fecha de caducidad</button>
                            <p>{{getTimeByTimeStamp(item.expirationDate)[0]}}</p>
                        </div>
                    </div>

                    <!--min="2018-01-01" max="20-12-31">-->
                </div>
            </div>
        </div>
    </div>
    <div class="margin-top">
        <div id="even" cdkDropList [cdkDropListData]="tasksDeleted" class="example-list" (cdkDropListDropped)="dropRemove($event)">
            <div class="box box-remove-task text-center">
                <h4 class="center-title">Arrastra una tarea aquí para borrarla
                </h4>
            </div>
        </div>
    </div>
</div>