<mat-form-field class="input">
    <mat-label>Nombre del panel</mat-label>
    <input matInput [(ngModel)]="panel.name" name="name">
</mat-form-field>

<button class="button-add" (click)="openDialogState()">Añadir estado</button>

<div cdkDropListGroup>
    <div class="horizontal-scroll">
        <div class="container " *ngFor="let state of panel.states; let i = index">
            <div class="text-center">
                <span><h3>{{state.name}}</h3></span>
                <div class="div-options">
                    <button class="button-transparent pointer">
                        <img src="assets/img/delete-icon.png">
                    </button>
                    <button class="button-add" (click)="openDialogTask(i)">Añadir tarea</button>
                </div>
            </div>
            <div cdkDropList [cdkDropListData]="state.tasks " class="list" (cdkDropListDropped)="drop($event) ">
                <div class="box margin-top" *ngFor="let item of state.tasks " cdkDrag>
                    {{item.title}}
                    <button class="button-transparent pointer">
                        <img src="assets/img/delete-icon.png">
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <button class="button-green right margin-top">Editar tablero</button>
</div>