<h2>
    Inicio de sesión
</h2>
<span *ngIf="errMessage" class="err">{{errMessage}}</span>
<form class="form">
    <mat-form-field class="input">
        <mat-label>Correo electrónico</mat-label>
        <input matInput [(ngModel)]="email" name="email">
    </mat-form-field>
    <mat-form-field class="input">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" [(ngModel)]="password" name="password">
    </mat-form-field>
    <div class="example-button-row">
        <button class="button-green" (click)="login()">Iniciar sesión</button>
        <div class="pointer margin-top-max" [routerLink]="'/' + urlRegister">
            <a> Puedes registrarte aquí </a>
        </div>
    </div>
</form>