<div>
    <mat-list role="list">
        <mat-list-item role="listitem" class="margin-top" *ngFor="let panel of panels">
            <div class="width-100 pointer" [routerLink]="'/' + urlPanelView + '/' + panel.id">
                <mat-card>
                    <div class="text-center">
                        {{panel?.name}}
                    </div>
                </mat-card>
            </div>
        </mat-list-item>
    </mat-list>
    <div *ngIf="panels.length == 0">
        <h1>No tienes paneles asociados</h1>
    </div>
    <span [routerLink]="'/' + urlPanelCreation" colsplan="1" class="text-center century-gothic pointer create">Crear tablero</span>
</div>