/* You can add global styles to this file, and also import other style files */

@import 'font-century-gothic.css';
@import 'font-fresca.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

main {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 2%;
}

.version-info {
    font-size: 8pt;
    float: right;
    margin: 3%;
}

.pointer {
    cursor: pointer;
}

.century-gothic {
    font-family: sans-serif;
}

.fresca {
    font-family: 'Fresca', sans-serif;
}

.century-gothic {
    font-family: 'Fresca', 'Courier New', Courier, monospace;
}

.button-green {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer
}

.button-red {
    background-color: #C62528;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer
}

.img {
    max-width: 50%;
    max-height: 50%;
}

.text-center {
    text-align: center;
}

.img-center-in-div {
    display: block;
    margin: auto;
}

.button-add {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-logout {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.round {
    border-radius: 50%;
}

.button-delete {
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1%;
    cursor: pointer;
}

.right {
    float: right
}

.horizontal-scroll {
    background-color: #ECECEC;
    overflow: auto;
    white-space: nowrap;
    max-height: 25em;
    min-height: 25em;
}

.margin-top {
    margin-top: 0.1%;
}

.margin-top-max {
    margin-top: 10%;
}

.button-transparent {
    background-size: cover;
    background-position: center;
    background-color: darkcyan;
    color: rgba(0, 0, 0, 0);
    font-family: impact;
    border: none;
    -webkit-background-clip: text;
    margin-top: -1%;
    margin-bottom: 2%;
}

.div-options {
    margin-top: -3%;
    margin-bottom: 5%;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.err {
    color: red;
}

.grid-100 {
    display: grid;
    grid-template-columns: 100%;
}

.width-webkit-fill-available {
    width: -webkit-fill-available;
}

.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
    margin-top: 5%;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

.router-outlet {
    min-height: calc(100vh - 50vh);
}