<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>
<header id="header">
    <app-header></app-header>
</header>

<main class="router-outlet">
    <router-outlet></router-outlet>
</main>

<body>
    <div class="footer-basic">
        <footer>
            <div class="social">
                <a href="https://www.docker.com/">
                    <img src="../assets/img/docker-brands.svg" alt="Docker">
                </a>
                <a href="https://github.com/">
                    <img src="../assets/img/github-brands.svg" alt="Github"></a>
                <a href="https://www.java.com/es/">
                    <img src="../assets/img/java-brands.svg" alt="Java"></a>
                <a href="https://web.telegram.org/#/login">
                    <img src="../assets/img/telegram-brands.svg" alt="Telegram"></a>

            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://github.com/adanfernandez">Adán Fernández Sánchez</a></li>
                <li class="list-inline-item"><a href="https://github.com/naive96">Víctor Manuel Chaves García</a></li>
            </ul>
            <p class="copyright">University of Oviedo</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>