.form {
    max-width: 50%;
    width: 80%;
    margin-right: 5%;
}

.input {
    width: 40%;
    margin-right: 5%;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
}