<h2 class="century-gothic">
    Registro en la aplicación
</h2>
<form class="form">
    <mat-form-field class="input">
        <mat-label>Nombre</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="input">
        <mat-label>Apellidos</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="input">
        <mat-label>Correo electrónico</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="input">
        <mat-label>Teléfono móvil</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="input">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password">
    </mat-form-field>
    <mat-form-field class="input">
        <mat-label>Confirmación de contraseña</mat-label>
        <input matInput type="password">
    </mat-form-field>
    <div class="example-button-row">
        <button class="button">Registrarse</button>
    </div>
</form>